*{
  margin: 0;
  padding: 0;
}
body { 
  font-family: Arial;
  padding: 20px;
}

table { 
  border-collapse: collapse; 
  width: 80%;
  margin-bottom: 20px;
}
th, td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left; 
}
a { 
  display: inline-block;
  margin-bottom: 10px;
}
textarea { 
  width: 300px; 
  height: 100px;
}

.heading{
  background-color: green;
  color: white;
  padding: 10px;
  text-align: center;
  
}